.todo {
    display: block;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 50px;
    min-height: 92vh;
}

.completed {
    text-decoration: line-through;
}

@media screen and (max-width: 500px) {
    .todo {
        display: block;
        margin: auto;
        width: 100%;
    }
}
@media (min-width: 500px) and (max-width: 1000px){
    .todo {
        display: block;
        margin: auto;
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    .delete{
        margin-top: 10px;
    }

    .add {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 767px){
    .check-div{
        margin-left: 13px;
    }
}